*,
:before,
:after {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 400;
}

img {
  display: block;
}

/* Buttons */

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}
