@use "reset";
@use "variables" as *;

* {
  // outline: 2px solid green;
}

p {
  font-family: $rh-display;
}

main {
  margin: 0 2rem;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
}

.hero__header {
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

.hero__title {
  font-family: $rh-display;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: 0;
  text-align: center;
  color: $slate-900;
}

.hero__people-image {
  width: 100%;
  max-width: 680px;
  max-height: 303px;
  min-height: 160px;
  aspect-ratio: 433/160;
  margin: 0 2rem;
  margin-bottom: 3rem;
}

.hero__people-image img {
  height: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.hero__description {
  font-size: 1rem;
  color: $slate-600;
  font-weight: 500;
  line-height: 1.5;
  margin: 1.5rem 0;
}

button {
  border-radius: 999px;
  padding: 0 2.5rem;
  color: $white;

  font-family: $rh-display;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0;
  height: 3.5rem;
}

.hero__btns {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex: 0 0 auto;
  flex-wrap: wrap;
}

.hero__download-btn {
  background-color: $cyan-600;
  flex-basis: 12.0625rem;
}

.hero__what-is-btn {
  background-color: $purple-600;
  flex-basis: 10.0625rem;
}

.section-division {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-division__line {
  width: 1.5px;
  height: 5rem;
  border: 1px solid $slate-300;
}

.section-division__circle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3.5rem;
  height: 3.5rem;
  border: 1.5px solid $slate-300;
  border-radius: 50%;

  font-family: $rh-display;
  font-size: 1rem;
  font-weight: 900;
  color: $slate-600;
  background-color: #fff;
}
