@use "reset";
@use "variables" as *;

* {
  // outline: 2px solid green;
}

p {
  font-family: $rh-display;
}

main {
  margin: 0 2rem;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero__header {
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

.hero__title {
  font-family: $rh-display;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: 0;
  text-align: center;
  color: $slate-900;
}

.hero__people-image {
  width: 100%;
  max-width: 680px;
  max-height: 303px;
  min-height: 160px;
  aspect-ratio: 433/160;
  margin: 0 2rem;
  margin-bottom: 3rem;
}

.hero__people-image img {
  height: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.hero__description {
  font-size: 1rem;
  color: $slate-600;
  font-weight: 500;
  line-height: 1.5;
  margin: 1.5rem 0;
}

button {
  border-radius: 999px;
  padding: 0 2.5rem;
  color: $white;

  font-family: $rh-display;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0;
  height: 3.5rem;
}

.hero__download-btn {
  background-color: $cyan-600;
}

.hero__what-is-btn {
  background-color: $purple-600;
}
