@use "reset";
@use "variables" as *;

p {
  font-family: $rh-display;
}

main {
  overflow-x: hidden;
}

.main-margin {
  margin: 0 2rem;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
}

.content-width {
  max-width: 504px;
  margin: 0 auto;
}

.hero__header {
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

.hero__title {
  font-family: $rh-display;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: 0;
  text-align: center;
  color: $slate-900;
}

.hero__people-image {
  width: 100%;
  max-width: 820px;
  max-height: 303px;
  min-height: 160px;
  aspect-ratio: 2.24;
  margin: 0 2rem;
  margin-bottom: 3rem;
}

.hero__people-image img {
  height: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.hero__description {
  font-size: 1rem;
  color: $slate-600;
  font-weight: 500;
  line-height: 1.5;
  margin: 1.5rem 0;
}

button {
  border-radius: 999px;
  padding: 0 2.5rem;
  color: $white;

  font-family: $rh-display;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0;
  height: 3.5rem;

  transition: background-color 0.75s;
}

.hero__download-btn:hover {
  background-color: #71c0d4;
}

.hero__btns {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex: 0 0 auto;
  flex-wrap: wrap;
}

.hero__download-btn {
  background-color: $cyan-600;
  flex-basis: 12.0625rem;
}

.hero__download-btn span {
  color: $cyan-300;
}

.hero__what-is-btn {
  background-color: $purple-600;
  flex-basis: 10.0625rem;
  transition: background-color 0.4s;
}

.hero__what-is-btn:hover,
.footer__button:hover {
  background-color: #b188dd;
}

.section-division {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-division__line {
  width: 1.5px;
  height: 5rem;
  border: 1px solid $slate-300;
}

.section-division__circle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3.5rem;
  height: 3.5rem;
  border: 1.5px solid $slate-300;
  border-radius: 50%;

  font-family: $rh-display;
  font-size: 1rem;
  font-weight: 900;
  color: $slate-600;
  background-color: #fff;
}

.features__usage-examples {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 4rem 0;
  text-align: center;
}

.features__usage-examples-image {
  width: 100%;
  flex: 1 1 auto;
  flex-basis: 147.5px;
  border-radius: 0.5rem;
}

.features {
  margin-bottom: 4rem;
}

.features__overline {
  color: $cyan-600;
}

.features-information,
.footer {
  text-align: center;
}

.features__header {
  font-family: $rh-display;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: 0;
  margin: 1rem 0rem 2rem 0rem;
}

.features__paragraph {
  font-family: $rh-display;
  font-size: 1rem;
  color: $slate-600;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0;
}

.section__division--second {
  margin-bottom: -25px;
}

.footer__header {
  font-family: $rh-display;
  font-size: 2rem;
  color: $white;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: 0;
  margin: 0rem 0rem 2rem 0rem;
  padding-top: 4rem;
}

.footer__paragraph {
  font-family: $rh-display;
  font-size: 1rem;
  color: $white;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0;
  margin-bottom: 1.5rem;
  padding: 0 2rem;
}

.footer__background {
  background-image:
    linear-gradient(0deg, rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.8)),
    url(../assets/tablet/image-footer.jpg);
  text-align: center;
  background-position: center;
  background-size: cover;
  padding-bottom: 4rem;
}

.footer__button {
  background-color: $purple-600;
  transition: background-color 0.4s;
}

.footer__button span {
  color: $purple-300;
}

/* Tablet */
@media (min-width: 600px) {
  .footer__paragraph {
    max-width: 504px;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
}

/* Desktop */
@media (min-width: 1000px) {
  .features {
    max-width: 1120px;
    margin: 0 auto;
  }
  .hero__people-image {
    display: none;
  }

  .hero__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .hero__content::before {
    content: url(../assets/desktop/image-hero-left.png);
    position: relative;
    transform: translateX(-60px);
  }

  .hero__content::after {
    content: url(../assets/desktop/image-hero-right.png);
    transform: translateX(60px);
  }

  .footer__background {
    background-image:
      linear-gradient(0deg, rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.8)),
      url(../assets/desktop/image-footer.jpg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0;
    padding: 7rem 80px;
    text-align: left;
    gap: 2rem;

    .content-width {
      margin: 0;
    }

    .footer__header {
      padding: 0;
      margin: 0;
    }

    .footer__paragraph {
      margin: 0;
      flex-basis: 355px;
    }
  }
}
